{:schema "kotoba.capability.repository.v1", :capability/version 1, :capability/hash-contract-cid "bafkreiflhj3fslsbh7okdas2fzlhmogai64x6p3lkla6gtr7berbp7ftvi", :capability/definition-cid "bafyreieqy2xrn2pxccxc4waj66iqhrflczkpmmuner2dpjlm6skyebixbe", :capability/dependencies #{}, :capability/imports #{:log-read}, :authority "kotoba-lang/kotoba-core-contracts", :capability/default-policy :autonomous, :capability/artifact {:format :wasm-component, :digest-required? true, :signature-required? true}, :capability/radicle-rid "rad:z4NFr1rR5c7VKNCNgCuQBHbNgj43w", :capability/repository "kotoba-lang/capability-log-read", :capability/id "log/read", :capability/effects #{:storage-read}, :capability/provider-status :contract-only}